<div class="header__logo-wrapper">
  <mat-icon class="header__logo" [inline]="true">beenhere</mat-icon>
  <h1 class="header__title" translate>TITLE</h1>
</div>
<div class="languages">
  <mat-button-toggle-group (change)="useLanguage($event)" class="languages__wrapper">
    <mat-button-toggle class="languages__language" value="en"> EN </mat-button-toggle>
    <mat-button-toggle class="languages__language" value="ru"> RU </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<mat-card class="header__menu">
  <button *ngFor="let menuItem of mainMenu"
    class="header__menu-item"
    mat-stroked-button
    [routerLink]="menuItem.routerLink"
    routerLinkActive="header__menu-item__active"
  >
  {{ 'PAGES.' + menuItem.text | translate }}
  </button>
</mat-card>
