<h2 class="title">Statistics</h2>

<mat-drawer-container class="sidenav-container">
  <mat-drawer class="sidenav-container__sidenav" mode="side" opened>
    <mat-tab-group class="sidenav-container__tab-group" (selectedTabChange)="setCurrentList($event)">

      <mat-tab class="sidenav-container__tab" label="Students">
        <mat-button-toggle-group class="sidenav-container__tab-content" name="fontStyle" aria-label="Font Style" [vertical]="true">
          <mat-button-toggle
            *ngFor="let student of students | asyncSort:'firstName' | async"
            [value]="student"
            (change)="setCurrentObjectId($event)"
            routerLink="student/{{ currentObject?.id }}"
          >
            {{ student.firstName }}
            {{ student.lastName }}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </mat-tab>

      <mat-tab class="sidenav-container__tab" label="Subjects">
        <mat-button-toggle-group class="sidenav-container__tab-content" name="fontStyle" aria-label="Font Style" [vertical]="true">
          <mat-button-toggle
            *ngFor="let subject of subjects | asyncSort:'name' | async"
            [value]="subject"
            (change)="setCurrentObjectId($event)"
            routerLink="subject/{{ currentObject?.id }}"
          >
            {{ subject.name | titlecase }}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer>

  <mat-drawer-content class="sidenav-container__content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
