<h2 class="title" translate>PAGES.EXPORT</h2>

<div class="container">
  <button mat-button  [matTooltip]="'ACTIONS.EXPORT_PDF' | translate" (click)="showSelectWindow(types.PDF)">
    <img src="assets/images/pdf-icon.png" alt="exports pdf file" width="100" height="100">
  </button>
  <button mat-button  [matTooltip]="'ACTIONS.EXPORT_EXCEL' | translate" (click)="showSelectWindow(types.EXCEL)">
    <img src="assets/images/excel-icon.png" alt="exports excel file" width="100" height="100">
  </button>
</div>

<app-export-toolbar
  (save)="onExport($event)"
  (cancel)="setSelectWindowState(true)"
  [type]="type"
  [class.hidden]="isSelectWindowClosed"
  ></app-export-toolbar>
