<h2 class="title" translate>PAGES.STUDENTS</h2>

<app-toolbar (valueChanged)="onToolbarValueChanged($event)"></app-toolbar>

<div class="table-wrapper">
  <table class="mat-elevation-z8 table-wrapper__table" [dataSource]="dataSource" mat-table matSort matSortActive="firstName" matSortDirection="asc">
    <ng-container matColumnDef="id">
      <th class="table-wrapper__header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td class="table-wrapper__simple-cell" mat-cell *matCellDef="let element"> {{element._id | slice:0:4}} </td>
    </ng-container>
  
    <ng-container matColumnDef="firstName">
      <th class="table-wrapper__header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'FIELDS.FIRST_NAME' | translate }} </th>
      <td class="table-wrapper__simple-cell" mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="lastName">
      <th class="table-wrapper__header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'FIELDS.LAST_NAME' | translate }} </th>
      <td class="table-wrapper__simple-cell" mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="address">
      <th class="table-wrapper__header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'FIELDS.ADDRESS' | translate }} </th>
      <td class="table-wrapper__simple-cell" mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <th class="table-wrapper__header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'FIELDS.DESCRIPTION' | translate }} </th>
      <td class="table-wrapper__simple-cell" mat-cell *matCellDef="let element"> {{element.description| slice:0:250}} </td>
    </ng-container>
  
    <ng-container matColumnDef="controls">
      <th class="table-wrapper__header-cell" mat-header-cell *matHeaderCellDef></th>
      <td class="table-wrapper__simple-cell" mat-cell  *matCellDef="let element">
        <div class="table-wrapper__controls-wrapper">
          <button class="table-wrapper__control-edit-button" mat-icon-button routerLink="student/edit/{{ element._id }}">
            <mat-icon>edit</mat-icon>
          </button>
  
          <button class="table-wrapper__control-delete-button" mat-icon-button (click)="onDelete(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="table-wrapper__row" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<app-button 
  [matTooltip]="'ACTIONS.ADD_STUDENT' | translate"
  routerLink="student/add"
>
</app-button>
