.table {
  width: 780px;

  &__header-cell, &__simple-cell {
    padding: 10px;
  }

  &__simple-cell[data-column-name="id"],
  &__header-cell[data-column-name="id"] {
    max-width: 22px;
    overflow: hidden;
  }
}
