<h2 class="title"> {{ subject.name | titlecase }} </h2>

<!-- TODO: fix bug with filling cells -->
<div class="table-wrapper">
  <table class="mat-elevation-z8 table-wrapper__table">
    <tr class="table-wrapper__row">
      <th class="table-wrapper__header-cell table-wrapper__static-cell"> First Name </th>
      <th class="table-wrapper__header-cell table-wrapper__static-cell"> Last Name </th>
      <th class="table-wrapper__header-cell table-wrapper__static-cell"> Average Mark </th>
      <th class="table-wrapper__header-cell table-wrapper__input-wrapper" *ngFor="let dayName of formJurnal.dayNames; let dayNameIndex = index"> 
        <input
          class="table-wrapper__header-cell-input"
          type="text"
          [value]="dayName"
          (blur)="onChangeHeaderCell($event, dayNameIndex)"
        >
      </th>
    </tr>
    <tr class="table-wrapper__row" *ngFor="let studentMark of formJurnal.studentMarks">
      <td class="table-wrapper__simple-cell"> {{ studentMark.firstName }} </td>
      <td class="table-wrapper__simple-cell"> {{ studentMark.lastName }} </td>
      <td class="table-wrapper__simple-cell"> {{ studentMark.marks | average | number:'1.1-1' }} </td>
      <td class="table-wrapper__simple-cell table-wrapper__input-wrapper" *ngFor="let mark of studentMark.marks; let markIndex = index">
        <input
          class="table-wrapper__simple-cell-input"
          type="text"
          [value]="mark"
          (blur)="onChangeSimpleCell($event, studentMark.studentId, markIndex)"
        >
      </td>
    </tr>
  </table>

  <button class="add-button" mat-mini-fab color="primary" (click)="onAddColumn()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<button mat-stroked-button color="primary" *ngIf="isTableDataChanged" (click)="onSave()">save</button>
