<mat-card class="breadcrumbs">
    <mat-icon class="breadcrumbs__home-link" routerLink="">home</mat-icon>
    <div class="breadcrumbs__breadcrumb-wrapper" *ngFor="let breadcrumb of breadcrumbs">
      <mat-icon class="breadcrumbs__breadcrumb-arrow">keyboard_arrow_right</mat-icon>
      <button class="breadcrumbs__breadcrumb-link" mat-button [routerLink]="breadcrumb.url" [queryParams]="breadcrumb.params" routerLinkActive="active" translate>
        {{ breadcrumb.label }}
      </button>
    </div>
  </mat-card>
